<!DOCTYPE html>
<html>
<head>

	<title>Oficinas</title>
</head>

	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>

		<label class="logo" id = "home" >

			<%= link_to home_path do %>
   				<%= image_tag "LogoAtualizadoDef.png", class: "home_logo" %>
			<% end %>

		</label>
		<ul>
			<li><a class="active" href="#">Início</a></li>
			<li><a><%= link_to 'Sair', destroy_user_session_path, method: :delete %></a></li>
			<li><a href="#">Serviços</a></li>
			<li><a href="#">Contato</a></li>
		</ul>
	</nav>

	<div class="container-list-workshops">
	  <table class="table">
		    <thead class="table-info">
				<tr>
					<th>Título</th>
					<th>Data</th>
					<th>Instituição</th>
					<th>Disciplina</th>
					<th></th>		        
				</tr>
		    </thead>
		    <tbody>
			    <% @workshops.each do |workshop| %>	  
					<tr class="table">
						<td>  <%= workshop.observation %> </td>
						<td>  <%= workshop.ministry_at.to_s(:data_br) %> </td>
						<td>  <%= workshop.institution %> </td>
						<td>  <%= workshop.matter %>      </td>

						<td> 						
							<%= image_tag "remove-icon.jpg", class: "remove-icon", id: "remove_icon", onclick: "editWorkshop("+workshop.id.to_s+", 'remove')"%>
							<%= image_tag "grafico-icon.png", class: "grafico-icon", id:"grafico_icon",onclick: "editWorkshop("+workshop.id.to_s+", 'grafico')" %>

						</td>		        
					</tr> 			       	
			    <% end %>     
		    </tbody>
	  </table>
	  <div class="go_to_create_workshops" onclick="goTocreateWorkshops();">+</div>
	</div>
	
</html>