<!DOCTYPE html>
<html>
<head>

	<title>Oficinas</title>
</head>

	<%= render file:  "#{Rails.root}/app/views/home/navbar_padrao.html.erb" %>

	<div class="container-list-workshops" id="tale_list_workshops">
	  <table class="table">
		    <thead class="table-info">
				<tr>
					<th>Título</th>
					<th>Data</th>
					<th>Instituição</th>
					<th>Disciplina</th>
					<th></th>		        
				</tr>
		    </thead>
		    <tbody>
			    <% @workshops.each do |workshop| %>	  
					<tr class="table" id =  "<%= workshop.id %>">
						<td>  <%= workshop.observation %> </td>
						<td>  <%= workshop.ministry_at.to_s(:data_br) %> </td>
						<td>  <%= workshop.institution %> </td>
						<td>  <%= workshop.matter %>      </td>

						<td> 						
							<%= image_tag "remove-icon.jpg", class: "remove-icon", id: "remove_icon", onclick: "editWorkshop("+workshop.id.to_s+", 'remove')"%>
							<%= image_tag "grafico-icon.png", class: "grafico-icon", id:"grafico_icon",onclick: "editWorkshop("+workshop.id.to_s+", 'grafico')" %>

						</td>		        
					</tr> 			       	
			    <% end %>     
		    </tbody>
	  </table>
	  <div class="go_to_create_workshops" onclick="goTocreateWorkshops();">+</div>
	</div>

	<div class="container-workshop-statistics" id="workshop-statistics">
		 	<div class="grafics-container">
			  	<button class="btn btn-danger back_button" onclick="back_button();">Voltar</button> 			 		
			  	<label id = "grafics-title"></label>
			  	<div   id = "grafics-design-container">
				  	<div id = "grafics-design">
					  	<div id = "evaluation-label">Avaliações</div>	  					  	  		
					  	<div id = "media-label"></div>	
						<%= image_tag "perfect-level-stars.png", class: "stars-media", id: "stars-media"  %>				  	  		  		
				  	</div>	
				  	<span id = "link-to-evaluation"></span>	  					  	  		
			  	</div>

		 	</div>
	</div>

    <div id="myModal" class="modal">
      <div class="modal-content" style="height: 125px; width: 40%;">
        <span class="close" style="position: absolute; right: 0%; font-size: 31px; color: red; width: 30px; margin-left: 5px; margin-right: 5px;">&times;</span>
        <span class = "label_modal_title" style ="position: absolute; margin-top: 4px; font-weight: 600; margin-bottom: 50px; height: 20px;">
           </span>
        <p class="errors_message" style = "position: absolute; top: 49%;" ></p>
      </div>
    </div>	
	
</html>