<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
	<%= render file:  "#{Rails.root}/app/views/home/navbar_padrao.html.erb" %>
<body>

<!-- 	<div class="label_light_class"> Oficinas de estudo para aulas <div id="label_strong"> A distância</div></div>
 -->
	<div class = 'container_parent'>	
		<div class = 'container_tutorial' id = 'tutorial_1' onmouseover="showHoverImg(1)" onmouseout="hideHoverImg(1)" >
			<div class = 'tutorial' > 
				<%= link_to introduction_path do %>
					<%= image_tag "tutorial.png", :class => "tutorial_img", :id => "tutorial_img1" %> 
				<% end %>
			</div>

			<div class = 'tutorial' > 
				<%= link_to tutorial_path do %>
					<%= image_tag "tutorial-hover.png", :class => "tutorial_hover", :id => "tutorial_hover_img1" %> 
				<% end %>
			</div>

			<h2 id="intro-label">TUTORIAL</h2>		

		</div>
		
		<div class = 'container_tutorial' id = 'tutorial_3' onmouseover="showHoverImg(3)" onmouseout="hideHoverImg(3)" >
				<%= link_to workshops_path do %>
					<%= image_tag "questionario.png", :class => "tutorial_img", :id => "tutorial_img3" %> 
				<% end %>

				<%= link_to workshops_path do %>
					<%= image_tag "questionario-hover.png", :class => "tutorial_hover", :id => "tutorial_hover_img3" %> 
				<% end %>				

			<h2 id="intro-label">OFICINAS</h2>	
		</div>
	</div>

</body>

</body>
</html> 

